//
//  Created by Hacktoolkit (@hacktoolkit) and Jonathan Tsai (@jontsai)
//  Copyright (c) 2014 Hacktoolkit. All rights reserved.
//

// You can register for Twitter API keys here: 

TWITTER_API_CONSUMER_KEY = yourTwitterConsumerKey
TWITTER_API_CONSUMER_SECRET = yourTwitterConsumerSecret
TWITTER_API_TOKEN = yourTwitterToken
TWITTER_API_TOKEN_SECRET = yourTwitterTokenSecret
